<ion-content>
  <div class="container">
    <div #left class="left-container">
      <div #left1>
        <p style="color: #9cb0d6; font-style: italic; font-weight: bolder">
          NOT ME!
        </p>
      </div>
      <div #left2>
        <p style="color: #9cb0d6; font-style: italic; font-weight: bolder">
          NOT ME!
        </p>
      </div>
      <div #left3>
        <p style="color: #9cb0d6; font-style: italic; font-weight: bolder">
          NOT ME!
        </p>
      </div>
    </div>
    <div class="center"></div>
    <div #right class="right-container">
      <div #right1>
        <p style="color: #9cb0d6; font-style: italic; font-weight: bolder">
          ME!
        </p>
      </div>
      <div #right2>
        <p style="color: #9cb0d6; font-style: italic; font-weight: bolder">
          ME!
        </p>
      </div>
      <div #right3>
        <p style="color: #9cb0d6; font-style: italic; font-weight: bolder">
          ME!
        </p>
      </div>
    </div>
  </div>

  <button (click)="animate()">click</button>
</ion-content>
