ion-content {
  --background: black;
}

.main {
  position: relative;
}
.image-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

.main-container {
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background: white;
  padding: 5px;

  .heading {
    text-align: center;
    margin-top: 40px;
    font-weight: 900;
    font-family: system-ui;
    font-size: 40px;
    letter-spacing: -0.5mm;
  }
}


/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 3px;
  border: 1px solid black;
  border-bottom: 1px solid grey ;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: -0.4mm;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
  border-color: black;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-bottom: 1px solid grey;
  margin-bottom: -1px;
  padding: 10px 14px 0px 13px;
  font-size: 18px;
  font-weight: 900;
  color: white;
  letter-spacing: -0.35mm ;
  background: grey;
}


.tab-panels{
  margin-top: -1px;

  section.tab-panel{
    background: grey;
    color: whitesmoke;
    border: 1px solid black;
    height: 450px;
    padding: 10px;

  }
}

// .tabset > label::after {
//   content: "";
//   position: absolute;
//   left: 15px;
//   bottom: 10px;
//   width: 22px;
//   height: 4px;
//   background: #8d8d8d;
// }