<ion-content scrollY="false">
  <div class="main">
    <div class="image-div">
      <img src="assets/images/images.jpg" />
    </div>
    <div class="main-container">
      <h1 class="heading">TOURNAMENT</h1>

      <!--  -->
      <div class="tabset">
        <!-- Tab 1 -->
        <input
          type="radio"
          name="tabset"
          id="tab1"
          aria-controls="details"
          checked
        />
        <label for="tab1">DETAILS</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="rules" />
        <label for="tab2">RULES</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="prizes" />
        <label for="tab3">PRIZES</label>
        <!-- Tab 4 -->
        <input type="radio" name="tabset" id="tab4" aria-controls="bracket" />
        <label for="tab4">BRACKET</label>
        <!-- Tab 5 -->
        <input type="radio" name="tabset" id="tab5" aria-controls="schedule" />
        <label for="tab5">SCHEDULE</label>
        <!-- Tab 6 -->
        <input type="radio" name="tabset" id="tab6" aria-controls="updates" />
        <label for="tab6">UPDATES</label>

        <div class="tab-panels">
          <section id="details" class="tab-panel">
            <h2>DETAILS</h2>
            <p>
              <strong>Overall Impression:</strong> An elegant, malty German
              amber lager with a clean, rich, toasty and bready malt flavor,
              restrained bitterness, and a dry finish that encourages another
              drink. The overall malt impression is soft, elegant, and complex,
              with a rich aftertaste that is never cloying or heavy.
            </p>
            <p>
              <strong>History:</strong> As the name suggests, brewed as a
              stronger “March beer” in March and lagered in cold caves over the
              summer. Modern versions trace back to the lager developed by
              Spaten in 1841, contemporaneous to the development of Vienna
              lager. 
            </p>
          </section>
          <section id="rules" class="tab-panel">
            <h2>RULES</h2>
            <p>
              <strong>Overall Impression:</strong> An elegant, malty German
              amber lager with a balanced, complementary beechwood smoke
              character. Toasty-rich malt in aroma and flavor, restrained
              bitterness, low to high smoke flavor, clean fermentation profile,
              and an attenuated finish are characteristic.
            </p>
            <p>
              <strong>History:</strong> A historical specialty of the city of
              Bamberg, in the Franconian region of Bavaria in Germany.
              Beechwood-smoked malt is used to make a Märzen-style amber lager.
              The smoke character of the malt varies by maltster; some breweries
              produce their own smoked malt (rauchmalz).
            </p>
          </section>
          <section id="prizes" class="tab-panel">
            <h2>PRIZES</h2>
            <p>
              <strong>Overall Impression:</strong> A dark, strong, malty German
              lager beer that emphasizes the malty-rich and somewhat toasty
              qualities of continental malts without being sweet in the finish.
            </p>
            <p>
              <strong>History:</strong> Originated in the Northern German city
              of Einbeck, which was a brewing center and popular exporter in the
              days of the Hanseatic League (14th to 17th century). Recreated in
              Munich starting in the 17th century. The name “bock” is based on a
              corruption of the name “Einbeck” in the Bavarian dialect, and was
              thus only used after the beer came to Munich. “Bock” also means
              “Ram” in German, and is often used in logos and advertisements.
            </p>
          </section>
          <section id="bracket" class="tab-panel">
            <h2>BRACKET</h2>
            <p>
              <strong>Overall Impression:</strong> A dark, strong, malty German
              lager beer that emphasizes the malty-rich and somewhat toasty
              qualities of continental malts without being sweet in the finish.
            </p>
            <p>
              <strong>History:</strong> Originated in the Northern German city
              of Einbeck, which was a brewing center and popular exporter in the
              days of the Hanseatic League (14th to 17th century). Recreated in
              Munich starting in the 17th century. The name “bock” is based on a
              corruption of the name “Einbeck” in the Bavarian dialect, and was
              thus only used after the beer came to Munich. “Bock” also means
              “Ram” in German, and is often used in logos and advertisements.
            </p>
          </section>
          <section id="schedule" class="tab-panel">
            <h2>SCHEDULE</h2>
            <p>
              <strong>Overall Impression:</strong> A dark, strong, malty German
              lager beer that emphasizes the malty-rich and somewhat toasty
              qualities of continental malts without being sweet in the finish.
            </p>
            <p>
              <strong>History:</strong> Originated in the Northern German city
              of Einbeck, which was a brewing center and popular exporter in the
              days of the Hanseatic League (14th to 17th century). Recreated in
              Munich starting in the 17th century. The name “bock” is based on a
              corruption of the name “Einbeck” in the Bavarian dialect, and was
              thus only used after the beer came to Munich. “Bock” also means
              “Ram” in German, and is often used in logos and advertisements.
            </p>
          </section>
          <section id="updates" class="tab-panel">
            <h2>UPDATES</h2>
            <p>
              <strong>Overall Impression:</strong> A dark, strong, malty German
              lager beer that emphasizes the malty-rich and somewhat toasty
              qualities of continental malts without being sweet in the finish.
            </p>
            <p>
              <strong>History:</strong> Originated in the Northern German city
              of Einbeck, which was a brewing center and popular exporter in the
              days of the Hanseatic League (14th to 17th century). Recreated in
              Munich starting in the 17th century. The name “bock” is based on a
              corruption of the name “Einbeck” in the Bavarian dialect, and was
              thus only used after the beer came to Munich. “Bock” also means
              “Ram” in German, and is often used in logos and advertisements.
            </p>
          </section>
        </div>
      </div>

      <!--  -->
    </div>
  </div>
</ion-content>

<!-- <div class="tabs-container">
  <div class="tab-button-container">
    <button class="btn">DETAILS</button>
    <button class="btn">RULES</button>
    <button class="btn">PRIZES</button>
    <button class="btn">BRACKET</button>
    <button class="btn">SCHEDULE</button>
    <button class="btn">UPDATES</button>
  </div>
  <div class="tab-content-container">
    <div id="details"></div>
    <div id="rules"></div>
    <div id="prizes"></div>
    <div id="bracket"></div>
    <div id="schedule"></div>
    <div id="updates"></div>
  </div>
</div> -->
