<ion-content>
  <h1 class="heading">TOURNAMENT</h1>
  <div class="tabs-container">
    <div class="tab-button-container">
      <button>DETAILS</button>
      <button>RULES</button>
      <button>PRIZES</button>
      <button>BRACKET</button>
      <button>SCHEDULE</button>
      <button>UPDATES</button>
    </div>
    <div class="tab-content-container">
      <div id="details"></div>
      <div id="rules"></div>
      <div id="prizes"></div>
      <div id="bracket"></div>
      <div id="schedule"></div>
      <div id="updates"></div>
    </div>
  </div>
</ion-content>
