<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- <div class="segment-container">
  <ion-segment value="details">
    <ion-segment-button value="details">
      <ion-label> DETAILS </ion-label>
    </ion-segment-button>
    <ion-segment-button value="rules">
      <ion-label> RULES </ion-label>
    </ion-segment-button>
    <ion-segment-button value="prizes">
      <ion-label> PRIZES </ion-label>
    </ion-segment-button>
    <ion-segment-button value="bracket">
      <ion-label> BRACKET </ion-label>
    </ion-segment-button>
    <ion-segment-button value="schedule">
      <ion-label> SCHEDULE </ion-label>
    </ion-segment-button>
    <ion-segment-button value="updates">
      <ion-label> UPDATES </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="segment-content"></div>
</div> -->
