<ion-header mode="ios">
  <div class="searchbar-container">
    <ion-searchbar search-icon="undefined" placeholder=""></ion-searchbar>
    <ion-icon name="search-outline" slot="icon-only"></ion-icon>
  </div>
</ion-header>

<ion-content>
  <div class="main-container">
    <h6 class="heading1">MY UPCOMING MATCHES</h6>
    <div class="upcoming-matches-container">
      <div class="button1">
        <p>View all ></p>
      </div>
      <div class="matches-slider">
        <ion-slides>
          <ion-slide>
            <div class="image-div">
              <img
                class="image-style"
                src="assets/images/wallpaper.jpg"
                alt=""
              />
              <div class="image-data-div">
                <p class="timer">00:00:00</p>
                <p class="text">COD</p>
                <p class="details">Details</p>
              </div>
            </div>
            <div class="image-div">
              <img
                class="image-style"
                src="assets/images/wallpaper.jpg"
                alt=""
              />
              <div class="image-data-div">
                <p class="timer">00:00:00</p>
                <p class="text">COD</p>
                <p class="details">Details</p>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="image-div">
              <img
                class="image-style"
                src="assets/images/wallpaper.jpg"
                alt=""
              />
              <div class="image-data-div">
                <p class="timer">00:00:00</p>
                <p class="text">COD</p>
                <p class="details">Details</p>
              </div>
            </div>
            <div class="image-div">
              <img
                class="image-style"
                src="assets/images/wallpaper.jpg"
                alt=""
              />
              <div class="image-data-div">
                <p class="timer">00:00:00</p>
                <p class="text">COD</p>
                <p class="details">Details</p>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <div class="tournaments-container">
      <div class="heading2-div">
        <h6>JOIN TOURNAMENTS</h6>
        <div class="button2">
          <p>View all ></p>
        </div>
      </div>
      <div class="tournament-slider">
        <ion-slides pager="true">
          <ion-slide>
            <div class="slide"></div>
            <div class="slide middle"></div>
            <div class="slide"></div>
          </ion-slide>
          <ion-slide>
            <div class="slide"></div>
            <div class="slide middle"></div>
            <div class="slide"></div>
          </ion-slide>
          <ion-slide>
            <div class="slide"></div>
            <div class="slide middle"></div>
            <div class="slide"></div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <div class="games-container">
      <div class="heading3-div">
        <h6>JOIN GAMES</h6>
        <div class="button3">
          <p>View all ></p>
        </div>
      </div>
      <div class="games-slider">
        <ion-slides pager="true">
          <ion-slide>
            <div class="slide"></div>
            <div class="slide middle"></div>
            <div class="slide"></div>
          </ion-slide>
          <ion-slide>
            <div class="slide"></div>
            <div class="slide middle"></div>
            <div class="slide"></div>
          </ion-slide>
          <ion-slide>
            <div class="slide"></div>
            <div class="slide middle"></div>
            <div class="slide"></div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>
</ion-content>
