<ion-header>
  <div class="searchbar-container">
    <ion-searchbar search-icon="undefined" placeholder=""></ion-searchbar>
    <ion-icon name="search-outline" slot="icon-only"></ion-icon>
  </div>
</ion-header>
<ion-content>
  <div class="container1">
    <div class="matches-main-container">
      <p class="heading ion-text-center">MY UPCOMING MATCHES</p>
      <div class="match-images-container">
        <div class="match-images-div">
          <div class="image-div">
            <img class="image-style" src="assets/images/wallpaper.jpg" alt="" />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img
              class="image-style"
              src="assets/images/wallpaper2.jpg"
              alt=""
            />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img class="image-style" src="assets/images/images2.jpg" alt="" />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img class="image-style" src="assets/images/ruthless.jpg" alt="" />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img class="image-style" src="assets/images/images1.jpg" alt="" />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img class="image-style" src="assets/images/soccer.png" alt="" />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img class="image-style" src="assets/images/wallpaper.jpg" alt="" />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img
              class="image-style"
              src="assets/images/wallpaper2.jpg"
              alt=""
            />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img class="image-style" src="assets/images/images2.jpg" alt="" />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img class="image-style" src="assets/images/ruthless.jpg" alt="" />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
        <div class="match-images-div">
          <div class="image-div">
            <img class="image-style" src="assets/images/images1.jpg" alt="" />
            <div class="image-data-div">
              <p class="timer">00:00:00</p>
              <p class="text">COD</p>
              <p class="details">Details</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-container">
      <ion-slides pager="true">
        <ion-slide>
          <img src="assets/images/ciriticalHit.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/images/gameLogo.jpg" />
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
